name: CI Completo HealthTrack

on:
  push:
    branches: [main]

jobs:
  build-and-test:
    name: Compilación y Pruebas Unitarias
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Compilar proyecto (sin integración)
        run: mvn clean install -DskipITs

      - name: Ejecutar pruebas unitarias
        run: mvn test

  selenium-and-sonarqube:
    name: Selenium + SonarQube
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Levantar la aplicación Spring Boot
        run: |
          nohup mvn spring-boot:run > log.txt 2>&1 &
          sleep 20

      - name: Ejecutar pruebas Selenium (IT)
        run: mvn verify -Dtest=UsuarioSeleniumIT

      - name: Escaneo SonarQube
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKENS }}

  performance-test:
    name: Pruebas de Rendimiento con JMeter
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Instalar JMeter
        run: |
          wget https://dlcdn.apache.org//jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          echo "${PWD}/apache-jmeter-5.6.3/bin" >> $GITHUB_PATH

      - name: Crear carpetas de reporte
        run: mkdir -p jmeter-reports/html-report

      - name: Ejecutar pruebas JMeter
        run: |
          jmeter -n -t backend/HealthTrackProyect.jmx \
                 -l jmeter-reports/resultados.jtl \
                 -e -o jmeter-reports/html-report

      - name: Subir reporte JMeter
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-performance-report
          path: jmeter-reports/html-report